@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

body{
    margin: 0 20%;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    background:url(./illustration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #210011;
}

span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Roboto';
}

span a:before,
span a:after{
    position: absolute;
    content: "Lesson-1";
    height: 55px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 5px;
}

span:nth-child(1) a:before,
span:nth-child(1) a:after{
    content: "Navigation";
}

span:nth-child(2) a:before,
span:nth-child(2) a:after{
    content: "Hover menu";
}

span:nth-child(3) a:before,
span:nth-child(3) a:after{
    content: "Rotate animation";
}

span:nth-child(4) a:before,
span:nth-child(4) a:after{
    content: "Move animation";
}

span:nth-child(5) a:before,
span:nth-child(5) a:after{
    content: "Find job";
}

span:nth-child(6) a:before,
span:nth-child(6) a:after{
    content: "Number generator";
}

span:nth-child(7) a:before,
span:nth-child(7) a:after{
    content: "Number-methods";
}

span:nth-child(8) a:before,
span:nth-child(8) a:after{
    content: "Prompts";
}

span:nth-child(9) a:before,
span:nth-child(9) a:after{
    content: "Guess number";
}

span:nth-child(10) a:before,
span:nth-child(10) a:after{
    content: "Cycles for";
}

span:nth-child(11) a:before,
span:nth-child(11) a:after{
    content: "Object iteration";
}

span:nth-child(12) a:before,
span:nth-child(12) a:after{
    content: "QuerySelector";
}

span:nth-child(13) a:before,
span:nth-child(13) a:after{
    content: "Counter";
}

span:nth-child(14) a:before,
span:nth-child(14) a:after{
    content: "ChangeColor";
}

span:nth-child(15) a:before,
span:nth-child(15) a:after{
    content: "NodeJs";
}

span:nth-child(16) a:before,
span:nth-child(16) a:after{
    content: "Stopwatch";
}

span:nth-child(17) a:before,
span:nth-child(17) a:after{
    content: "Stopwatch 2";
}

span:nth-child(18) a:before,
span:nth-child(18) a:after{
    content: "Tic Tac Toe";
}

span:nth-child(19) a:before,
span:nth-child(19) a:after{
    content: "Promise";
}

span:nth-child(20) a:before,
span:nth-child(20) a:after{
    content: "Promise 2";
}

span:nth-child(21) a:before,
span:nth-child(21) a:after{
    content: "Promice race";
}

span:nth-child(22) a:before,
span:nth-child(22) a:after{
    content: "Api fetch";
}

span:nth-child(23) a:before,
span:nth-child(23) a:after{
    content: "Api countries";
}

span:nth-child(24) a:before,
span:nth-child(24) a:after{
    content: "Async await";
}

span:nth-child(25) a:before,
span:nth-child(25) a:after{
    content: "Select country";
}

span a:before{
    color: #000000;
    background-color: #ffffff88;
    transform: rotateY(0deg) translateZ(25px);
}

span a:after{
    color: #fff;
    transform: rotateX(90deg) translateZ(25px);
}

span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
}

div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

span{
    margin-top: 30px;
}