@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

body{
    margin: 0 20%;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    background:url(./background.jpg);
    background-size: cover;
    background-position: center;
}

span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Roboto';
}

span a:before,
span a:after{
    position: absolute;
    content: "Lesson-1";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

span:nth-child(1) a:before,
span:nth-child(1) a:after{
    content: "Lesson-1";
}

span:nth-child(2) a:before,
span:nth-child(2) a:after{
    content: "Lesson-2";
}

span:nth-child(3) a:before,
span:nth-child(3) a:after{
    content: "Lesson-3";
}

span:nth-child(4) a:before,
span:nth-child(4) a:after{
    content: "Lesson-4";
}

span:nth-child(5) a:before,
span:nth-child(5) a:after{
    content: "Lesson-5";
}

span:nth-child(6) a:before,
span:nth-child(6) a:after{
    content: "Lesson-6";
}

span:nth-child(7) a:before,
span:nth-child(7) a:after{
    content: "Lesson-7";
}

span:nth-child(8) a:before,
span:nth-child(8) a:after{
    content: "Lesson-8";
}

span:nth-child(9) a:before,
span:nth-child(9) a:after{
    content: "Lesson-9";
}

span:nth-child(10) a:before,
span:nth-child(10) a:after{
    content: "Lesson-10";
}

span:nth-child(11) a:before,
span:nth-child(11) a:after{
    content: "Lesson-11";
}

span:nth-child(12) a:before,
span:nth-child(12) a:after{
    content: "Lesson-12";
}

span:nth-child(13) a:before,
span:nth-child(13) a:after{
    content: "Lesson-13";
}

span:nth-child(14) a:before,
span:nth-child(14) a:after{
    content: "Lesson-14";
}

span:nth-child(15) a:before,
span:nth-child(15) a:after{
    content: "Lesson-15";
}

span:nth-child(16) a:before,
span:nth-child(16) a:after{
    content: "Lesson-16";
}

span:nth-child(17) a:before,
span:nth-child(17) a:after{
    content: "Lesson-17";
}

span a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

span a:after{
    color: #fff;
    transform: rotateX(90deg) translateZ(25px);
}

span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
}

div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

span{
    margin-top: 30px;
}