/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media screen and (max-width: 1200px) {
    .work{
        margin-top: 40px;
    }

    .work img{
        width: 320px;
        height: 310px;
        left: 50px;
        top: 20px; 
    }

    .resume h1{
        font-size: 36px;
    }

    .resume p{
        margin-bottom: 10px;
    }

    .list_jobs{
        flex-wrap: wrap;
    }
    
    h3{
        text-align: center;
        margin-left: 0;
    }
    /* .list_jobs{
        width: calc((100% - 4 \ 10px) / 3);
    } */
    
    .list_jobs li{
        width: 166px;
        height: 128px;
        background: #F2F3F6;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc((100% - 4 * 20px) / 3);
    
    }
}
/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {
    .work img{
        display: none;
    }

    .list_jobs{
        gap: 20px;
    }
}
/* Small Devices, Tablets */
@media screen and (max-width: 768px) {
    header{
        display: flex;
        justify-content: center;
    }

    .icon-logo{
        position: absolute;
        top:20px;
    }

    .resume h1{
        font-size: 28px;
        width: 300px;
        height: 70px;
        margin-top: 13px; 
    }

    .resume p{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
        height: 90px;
    }

    .d1 input{
        width: 300px;
        height: 50px;
        padding: 6px 7px 5px 12px;
    }

    .d1 .btn-1 {
        left: 160px;
        width: 153px;
        height: 43px;
    }

    .work{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .work img{
        display: none;
    }

    .menu, .bar {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        top: 70px;
        z-index: 10;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    }

    /* .hamburger{
        display: block;
    }

    .hamburger .line{
        width: 24px;
        height: 3px;
        background-color: black;
        display: block;
        margin: 6px auto;
        transition: all .3s ease;
        border-radius: 5px;
    }

    .hamburger:hover{
        cursor: pointer;
    }

    #hamburger-1.is-active .line:nth-child(2){
        opacity: 0;
    }

    #hamburger-1.is-active .line:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }

    #hamburger-1.is-active .line:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    } */

    .list_jobs{
        gap: 15px;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width: 480px) {
    .resume h1{
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }

    .resume p{
        font-size: 16px;
        line-height: 140%;
        text-align: center;
    }

    .resume{
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .d1 input{
        width: 260px;
        height: 50px;
    }

    .d1 .btn-1 {
        display: none;
    }

    .d1 .btn-2{
        display: flex;
        width: 68px;
        height: 45px;
        left: 205px;
        font-size: 12px;
    }

    h3{
        margin: 50px 0 40px 0;
    }

    .catigory{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .icon-logo{
        width: 90px;
        height: 21px;
        margin-left: 22px;
    }

    .list_jobs li p{
        font-weight: 300;
        font-size: 12px;
    }

    .list_jobs{
        gap:10px;
    }

}
/* Custom, iPhone Retina */
@media screen and (max-width: 320px) {
    .list_jobs li p{
        font-weight: 300;
        font-size: 10px;
    }

    .list_jobs{
        gap: 5px;
    }
}