h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;

}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

header {
    background-color: #F2F3F6;
    padding: 50px 148px;
}

.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu ul, .bar ul{
    display: flex;
    justify-content: space-between;
}

.icon-logo{
    width: 130px;
    height: 30px;
}

.menu a, .bar a{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #111238;
    margin-right: 20px;
    transition: color .3s ease;
}

.menu a:hover, .bar a:hover{
    color: #1A75E8;
}

.sign-up a{
    width: 155px;
    height: 49px;
    background-color: #1A75E8;
    border-radius: 5px;
    padding: 15px 30px;
    color:white;
    transition: background-color .3s ease;
}

.sign-up a:hover{
    background-color: #000;
}

.work{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
}

.resume h1{
    margin-top: 43px;   
    width: 460px;
    height: 106px;
    font-family: 'Fira Sans';
    font-weight: 900;
    font-size: 44px;    
    color: #111238;
}

.resume p{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 18px;
    color: #111238;
    width: 460px;
    height: 75px;
    margin-top: 15px;
    margin-bottom: 30px;
}

form {
    position: relative;
}
.d1 input {
    padding: 11px 15px 10px 25px;
    width: 412px;
    height: 50px;
    outline: none;
    color: #B2B2B2;;
    background: #FFFFFF;
    border: 1px solid rgba(209, 209, 209, 0.1);
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
    border-radius: 5px;
}
.d1 .btn-1 {
    position: absolute; 
    top: 10px;
    left: 236px;
    width: 211px;
    height: 52px;
    border: none;
    background: #1A75E8;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d1 .btn-2{
    position: absolute; 
    top: 10px;
    left: 236px;
    width: 211px;
    height: 52px;
    border: none;
    background: #1A75E8;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.d1 .btn-2 svg{
    width: 15px;
    height: 15px;
    fill:#FFFFFF;
}

.d1 .btn-1 svg{
    width: 15px;
    height: 15px;
    fill:#FFFFFF;
    margin-right: 10px;
}

.work img{
    position: relative;
    width: 544px;
    height: 557px;
    left: 128px;
}

h3{
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 24px;
    color: #111238;
    margin: 70px 0 40px 0;
    text-align: center;
}

.list_jobs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: calc((100% - 4 \* 10px) / 3);
}

.list_jobs li{
    width: 166px;
    height: 128px;
    background: #F2F3F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 4 \* 10px) / 3);
}

.list_jobs a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list_jobs li svg{
    width: 24px;
    height: 24px;
}

.list_jobs li p{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #111238;
    margin-top: 15px;
}