h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body{
    margin: 0;
}

/* header */

header svg{
    width: 100px;
    height: 50px;
}

header a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    transition: color .2s ease-in-out;
}

header div a:hover{
    color: #FA4A0C;
    text-decoration: none;
}

/* main */

.hero{
    background: url(./img/rectangle-1.png);
    background-size: cover;
    height: 619px;
    background-repeat: no-repeat;
}

.hero h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #F7F7F7;
}

.hero h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.hero h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #F7F7F7;
}

.hero button{
    background-color: transparent;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border-radius: 30px;
    border: 1px solid white;
    padding: 16px 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    transition: background-color .2s ease-in-out, border .2s ease-in-out;
}

.hero button:hover{
    background-color: #FA4A0C;
    border: 1px solid #FA4A0C;
}

/* phones */

.phone h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
}

.phone h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.phone h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

/* rectangle-2 */

.rectangle{
    background: url(./img/rectangle-2.png);
    background-size: cover;
    height: 516px;
    background-repeat: no-repeat;
}

.rectangle h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.rectangle h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.rectangle button{
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    padding: 18px 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    transition: background-color .2s ease-in-out, border .2s ease-in-out;
}

.rectangle button:hover{
    background-color: #FA4A0C;
    border: 1px solid #FA4A0C;
}

/* footer*/

.footer svg{
    width: 100px;
    height: 50px;
}

.footer a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #5C5C5C;
    transition: color .2s ease-in-out;
}

.footer div a:hover{
    color: #FA4A0C;
    text-decoration: none;
}