body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.wrapper{
    width: 270px;
}

.select-btn{
    height: 40px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    color: #939393;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.active-border{
    border-radius: 20px 20px 0 0;
}

.select-btn svg{
    fill: #939393;
    width: 15px;
    height: 10px;
    transition: transform 0.3s linear;
}

.wrapper.active .select-btn .icon-select-country{
    transform: rotate(-180deg);
}

.content{
    display: none;
    padding: 5px 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 0 0 20px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.wrapper.active .content{
    display: block;
}

.content .search-form{
    position: relative;
}

.search-form .icon-search-country{
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    fill: #939393;
    font-size: 20px;
    pointer-events: none;
    position: absolute;
}

.search-form .search-country{
    height: 40px;
    width: 150px;
    outline: none;
    font-size: 17px;
    padding: 0 55px 0 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #939393;
    color: #939393;
}

.search-form input::placeholder{
    color: #bfbfbf;
}
.content .options{
    padding: 0;
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
}
.options::-webkit-scrollbar{
    width: 3px;
}
.options::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
    background: #939393;
    border-radius: 20px;
    height: 40px;
}

.options li{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    padding: 0 10px;
    font-size: 21px;
    color: #CCCCCC;;
}
  
.options li:hover, li.selected{
    border-radius: 5px;
    background-color: #DC56C5;
}

